<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOGS" value="./logs" />

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d{yyyy-MMM-dd HH:mm:ss.SSS} %highlight(%-5level) [%12.12thread] 
				%cyan(%-40.40logger{40}) : %yellow(%msg %n) </pattern> -->

			<!-- <pattern>[%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg 
				%n </pattern> -->

			<pattern>%cyan(%date) %green(%level) %yellow([%thread]) %cyan(%logger{10}) %magenta([%file : %line]) %yellow(%msg %n) </pattern>

		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="Console" />
	</root>

	<logger name="com.greatlearning" level="info" additivity="false">
		<appender-ref ref="Console" />
	</logger>

</configuration>
